body{
    background-color: black;
    color: white;    
    font-family: 'Times New Roman', Times, serif;
}

.top-title{
    text-align: center;    
}

.beef-pic{
    float: right;
    padding-right: 200px;
}

.salad-pic{
    float: right;
    padding-right: 200px;
}

.return-link{
    text-align: right;
}

.back-to-top{
    text-align: left;
}










